<mat-card>

    <div class=section-header>
        <h1>Search by Name and/or Description</h1>
    </div>

    <div class="searchbox">
        <mat-form-field class="name">
            <mat-label> I'm looking for ...</mat-label>
            <input matInput placeholder="Ex. skribbl.io" [(ngModel)]="activityFilter.nameOrDescriptionQuery">
        </mat-form-field>
    </div>

    <div class=section-header>
        <h1> Or Filter By Criteria</h1>
    </div>

    <div class="filter">
        <div class="filter-selections">
            <button mat-raised-button (click)="resetFilter()">Reset/Show All</button>
        </div>

        <div class="slider">
            <h3>How may players are there?</h3>
            <ngx-slider [(value)]="activityFilter.minParticipants" [(highValue)]="activityFilter.maxParticipants"
                [options]="options">
            </ngx-slider>
            <h3> How much time do you have?</h3>
            <ngx-slider [(value)]="activityFilter.minTime" [(highValue)]="activityFilter.maxTime" [options]="options2">
            </ngx-slider>
        </div>

        <div class="checkbox">
            <mat-checkbox [(ngModel)]="activityFilter.competitive">Competitive</mat-checkbox>
            <br>
            <mat-checkbox [(ngModel)]="activityFilter.sync">Synchronous</mat-checkbox>
        </div>

        <div class="categories">
            <select [(ngModel)]="activityFilter.category">
                <option *ngFor="let opt of dataService.categories">{{opt}}</option>
            </select>
        </div>

        <button mat-raised-button (click)="save()">Filter</button>



    </div>
</mat-card>

<div>
    Results
    <br>
    Search: {{activityFilter.nameOrDescriptionQuery}}
    <br>
    MinPlayers: {{activityFilter.minParticipants}}
    <br>
    MaxPlayers: {{activityFilter.maxParticipants}}
    <br>
    minTime: {{activityFilter.minTime}}
    <br>
    maxTime: {{activityFilter.maxTime}}
    <br>
    Competitive: {{activityFilter.competitive}}
    <br>
    Synchronous: {{activityFilter.sync}}
    <br>
    Category: {{activityFilter.category}}

</div>