<div class="webpage">

    <div class="header">
        <h1>Activity Finder</h1>
        <h2> What kind of activity are you looking for?</h2>
    </div>

    <div class="filter">

        <button>Reset & Show All</button>

        <div class="radio">
            <div class="competitive">
                <input type="radio" id=competitive value="competitive">
                <label for="competitive">Competitive</label><br>
            </div>

            <div class="synchronous">
                <input type="radio" id=synchronous value="synchronous">
                <label for="synchronous">Synchronous</label><br>
            </div>

        </div>

        <div class="checkbox">

            <div class="catogory">
                <h3>What catagories of games are you looking for?</h3> <br>
                <h3>How to get options from database?</h3>

                <input type="checkbox" name="option1" value="option1">
                <label for="option2"> first option</label><br>

                <input type="checkbox" name="option2" value="option2">
                <label for="option2"> second option</label><br>

                <input type="checkbox" name="option2" value="option2">
                <label for="option2"> second option</label><br>

            </div>
        </div>

        <div class="dropdowns">

            <div class="time">
                <h3>Choose How much time do you have?</h3>

                <div class="choice">

                </div>

            </div>
        </div>

    </div>

    <!-- <p> Somewhere need {{Activity}} and [(ngModel)]?</p> -->

    {{ngModel}}
    local and public variable