<mat-card>

    <div class=section-header>
        <h1>Search by Name</h1>
    </div>

    <div class="searchbox">
        <mat-form-field class="name">
            <mat-label> I'm looking for ...</mat-label>
            <input matInput placeholder="Ex. skribbl.io" [(ngModel)]="name">
        </mat-form-field>
    </div>

    <div class=section-header>
        <h1> Or Filter By Criteria</h1>
    </div>

    <div class="filter">
        <div class="filter-selections">
            <button mat-raised-button (onClick)="resetFilter()">Reset/Show All</button>
        </div>

        <div class="slider">
            <h3>How may players are there?</h3>
            <ngx-slider [(value)]="minParticipants" [(highValue)]="maxParticipants" [options]="options">
            </ngx-slider>
            <h3> How much time do you have?</h3>
            <ngx-slider [(value)]="minTime" [(highValue)]="maxTime" [options]="options2">
            </ngx-slider>
        </div>

        <div class="checkbox">
            <mat-checkbox [(ngModel)]="competitive">Competitive</mat-checkbox>
            <br>
            <mat-checkbox [(ngModel)]="synch">Synchronous</mat-checkbox>
        </div>

        <div class="categories">
            <select [(ngModel)]="categories">
                <option *ngFor="let opt of categoryChoices">{{opt}}</option>
            </select>
        </div>

        <button mat-raised-button (onClick)="save()">Filter</button>

    </div>
</mat-card>

<div>
    Results
    <br>
    Search: {{name}}
    <br>
    MinPlayers: {{minParticipants}}
    <br>
    MaxPlayers: {{maxParticipants}}
    <br>
    minTime: {{minTime}}
    <br>
    maxTime: {{maxTime}}
    <br>
    Competitive: {{competitive}}
    <br>
    Synchronous: {{synch}}
    <br>
    Catagory: {{catagories}}

</div>