
.webpage {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.radio {
    background-color: rgb(127, 181, 212);

}

.checkbox {
    background-color: rgb(143, 211, 154);

}

.dropdowns{
    background-color: rgb(190, 123, 123);
}