// .card1{
//     max-width: 300px;
//     min-width: 200px;
//     margin: 10px;
//     border: 1px solid gray;
//     border-radius: 5px;
// }

// //auto width for the slider
// #slider{
//     width: fill;
// }

// // move the icon to the corner
// mat-icon {
//     margin-left: auto;
// }

.title {
    background-color: blueviolet;
    color: white;
}

.add-activity {
    display: flex;
    justify-content: center;
    width: 120px;
    margin: 20px;
    background-color: rgb(4, 172, 209);
    border-radius: 5px;
}